﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="text-danger">DANH MỤC LOẠI SẢN PHẨM</strong>
                            </div>

                            <div class="col-md-6 text-right">
                               <a href="@Url.Action("Create","Category")" class="btn-sm btn-success">
                                <i class="fa fa-plus"></i>
                                   Thêm mới
                               </a> 
                            </div>
                        </div>
                        
                        <div class="card-body">
                             
                        </div>
                         <!-- /.card-footer-->
                </div><!-- /.card -->
            </section><!-- /.content -->
        </div> <!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
</body>